@model string[]

<h2>direccion: @ViewBag.Direccion</h2>
<ul>
    @foreach (string producto in Model){
        <li>@producto</li>
    }
</ul>
<img src="https://imgs.search.brave.com/N3VX_I08RY3jRJoG429mR-gIWO5HOQfWDmF2KSKAOco/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFMa2lpY1gxLUwu/anBn"/>