<h2>Session simple</h2>
<a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="almacenar">Guardar</a>
<a asp-controller="EjemploSession" asp-action="SessionSimple" asp-route-accion="mostrar">Mostrar</a>

<h3>@ViewBag.Mensaje</h3>

<p>@ViewBag.Nombre</p>
<p>@ViewBag.Hora</p>