<h1>Login</h1>

<form method="post">
    <input type="text" name="usuario" class="form-control" />
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-success">Log in</button>
 </form>
 <h4 class="text-danger">@ViewBag.Mensaje</h4>